@model Victuz_MVC.Models.Activity

@{
    ViewData["Title"] = "Details";
}

<h1>Activiteit Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Naam
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Beschrijving
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Limiet
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit)
        </dd>
        <dt class = "col-sm-2">
            Datum & Tijd
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            Locatie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            Categorie
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityCategory.Name)
        </dd>
    </dl>
</div>
<div>
    @if ((ViewBag.UserId is not null && ViewBag.IsMember && Model.Hosts!.Any(h => h.Id == ViewBag.UserId)) ||
    (ViewBag.UserId is not null && !ViewBag.IsMember))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    @if (!ViewBag.IsBlacklisted)
    {
        <a href="/Enrollments/Create/@Model?.Id">Inschrijven</a>
    }
    <a asp-action="Index">Terug naar lijst</a>
</div>
