@model IEnumerable<Victuz_MVC.Models.Activity>

@{
    ViewData["Title"] = "StatusActivity";
}

<h1>Status activities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th>
                Limiet
            </th>
            <th>
                Datum & Tijd
            </th>
            <th>
                Status
            </th>
            <th>
                Hosts
            </th>
            <th>
                Locatie
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.Picture is not null)
                {
                    <img src="@item.Picture.FilePath" width="100"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <ul>
                        @foreach (var host in item.Hosts)
                        {
                            <li>@host.Email</li>
                        }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
                
                <td>
                @Html.DisplayFor(modelItem => item.ActivityCategory!.Name)
            </td>
            <td>
                @if ((ViewBag.UserId is not null && ViewBag.IsMember && item.Hosts!.Any(h => h.Id == ViewBag.UserId)) ||
                (ViewBag.UserId is not null && !ViewBag.IsMember)
                )
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Aanpassen</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if ((ViewBag.UserId is not null && ViewBag.IsMember && item.Hosts!.Any(h => h.Id == ViewBag.UserId)) ||
                (ViewBag.UserId is not null && !ViewBag.IsMember)
                )
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="DeleteText">Verwijder</a>    
                }
            </td>
        </tr>
}
    </tbody>
</table>
