@model Victuz_MVC.Models.Activity
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (User.IsInRole("Admin"))
{
    <h1> Welkom admin</h1>
}
else
{
    <h1> Welkom lid</h1>
}

<h3>Eerstvolgende Activiteit</h3>
@if (Model != null)
{
    <p>Naam: @Model.Name</p>
    <p>Beschrijving: @Model.Description</p>
    <p>Datum en tijd: @Model.DateTime.ToString("dd-MM-yyyy HH:mm")</p>

    @if (!ViewBag.IsBlacklisted)
    {
        <p>Locatie: @Model.Location</p>
    }

    <p>
        @if (Model.Picture != null)
        {
            <img src="@Model.Picture.FilePath" width="100" />
        }
        else
        {
            <span>No Image Available</span>
        }
    </p>
}
else
{
    <p>Er zijn momenteel geen geplande activiteiten.</p>
}

