@model IEnumerable<Victuz_MVC.Models.Activity>
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<Account> SignInManager
@inject UserManager<Account> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("Admin"))
{
    <h1> Welkom admin</h1>
}
@if (User.IsInRole("Member"))
{
    <h1> Welkom lid</h1>
}

<h3>Eerstvolgende Activiteit</h3>
<div class="container">
    <div class="d-flex justify-content-between">
        @if (Model != null && Model.Any())
        {
            foreach (var activity in Model)
            {
                <a asp-controller="Activities" asp-action="Details" asp-route-id="@activity.Id" class="text-decoration-none">
                <div class="ActivityCard" style="@(activity.Picture is not null ? $"background-image: url('{activity?.Picture?.FilePath}')" : "background-color: rgba(0, 0, 0, .5)")">
                    <div class="ActivityCard-overlay">
                        <div class="ActivityCard-header">
                            <h2 class="ActivityCard-title">@activity.Name</h2>
                        </div>
                        <div class="ActivityCard-content">
                            <p class="ActivityCard-des">@activity.Description</p>
                            <p class="ActivityCard-info">Datum en tijd: @activity.DateTime.ToString("dd-MM-yyyy HH:mm")</p>

                            @if (!ViewBag.IsBlacklisted)
                            {
                                <p class="ActivityCard-description">Locatie: @activity.Location</p>
                            }
                        </div>
                    </div>
                </div>
                </a>
            }
        }
        else
        {
            <p>Er zijn momenteel geen geplande activiteiten.</p>
        }
    </div>
</div>
