@model Victuz_MVC.Models.Order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            Items
        </dt>
        <dd class = "col-sm-10">
            <ul>
            @foreach(var item in Model.OrderProducts)
            {
                <li>@item.Product.Name: @item.ProductAmount (per stuk @item.Product.Price)</li>
            }
            </ul>
        </dd>
    </dl>
</div>
<div>
    <form asp-action="ConfirmOrder">
        <input type="hidden" name="OrderId" value="@Model.Id" />
        <button type="submit">Bestel</button>
    </form>
</div>
