@model IEnumerable<Victuz_MVC.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn">Voeg nieuw product toe</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                Naam
            </th>
            <th>
                Beschrijving
            </th>
            <th>
                Prijs
            </th>
            <th>
                Categorie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Picture is not null)
                {
                    <img src="@item.Picture.FilePath" width="100" />
                }
                else {
                    <span>No Image Available</span>
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <ul>
                @foreach(var cat in item.ProductCategoryLines)
                {
                    <li>@cat.ProductCategory!.Name</li>
                }
                </ul>
            </td>


            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Aanpassen</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn-delete">Verwijderen</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
